.btn-box{
	font-family: AvenirNext;
	text-transform: uppercase;
	color:#fff;
	background:#032f60;
	box-shadow: none;
	border:1px #032f60 solid;
	padding:10px 15px;
	letter-spacing: 1.2px;
}

.btn-box.transparent{
	background: transparent;
	
	color : #032f60;
}

.nav-buttons{
	position: absolute;
	right:60px;
	margin-top:8px;
}

.nav-buttons button{
	font-size:11px;
	padding:8px;
	font-family: AvenirNextBold;
}

.nav-right .input-group{
	right:210px;
}


@media (max-width: 1300px) {

	.tablet-only{
		display: block!important;
	}

  /*Change Bootstrap Breakpoint*/
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
 /* End of bootstrap breakpoint*/



  .nav-right{
  	margin-top:0;
  }

  .navbar-brand{
  	position: absolute;
  	right:450px;
  }

  .navbar-default{
  	padding-left:15px;
  
  }


  /*Navigation*/
  .navbar-toggle{
  	z-index: 10;
  	border:none;
  	border-radius: 0;
  }

  .navbar-toggle:hover{
  	background: transparent!important;
  }

  .navbar-default .navbar-toggle .icon-bar{
  	background:#032f60;
  	width:27px;
  	height:3px;
  }

  .navbar-collapse{
  	position: absolute;
  	top:0;
  	left:0;
  	z-index:11;
  	width:270px;

  	background: #032f60 ;
  }

  .navbar-collapse li a{
  	letter-spacing: 1.2px;
  	padding-top:20px;
  	padding-left:0px;
  	padding-bottom: 2px;
  	color:#fff!important;
  	border-bottom: 2px dashed #000;
  	font-size:14px!important;
  }

  .navbar-nav{
  	padding-bottom:30px;
  }

  .navbar-collapse.collapse{
  	overflow-y:inherit;
  }

  .close-nav{
		padding:7px 10px 10px 10px;
		top:0;
		background:#032f60;
		position: absolute;
		z-index:11;
		left:270px;
		color:#fff;
		font-size:30px;
	}

}