@font-face {
    font-family: 'AvenirNext';
    font-weight: normal;
	font-style: normal;
	src: url('../fonts/AvenirNextLTPro-Demi.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'), 
		 url('../fonts/AvenirNextLTPro-Demi.ttf') format('truetype'), 
		 url('../fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
		 /* 
		 eot - IE6-IE8
		 woff - Modern Browsers
		 truetype - Safari, Android, iOS
		 svg - Legacy iOS
		 */
}

@font-face {
    font-family: 'AvenirNextBold';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/AvenirNextLTPro-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'), 
		 url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'), 
		 url('../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
		 /* 
		 eot - IE6-IE8
		 woff - Modern Browsers
		 truetype - Safari, Android, iOS
		 svg - Legacy iOS
		 */
}

@font-face {
    font-family: 'AvenirNextRegular';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/AvenirNextLTPro-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), 
		 url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), 
		 url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
		 /* 
		 eot - IE6-IE8
		 woff - Modern Browsers
		 truetype - Safari, Android, iOS
		 svg - Legacy iOS
		 */
}


.navbar-brand{
	padding-top:0;
}

.navbar-default{
	padding-top:5px;
	background: transparent;
	border:none;
	box-shadow: none;
	margin-bottom: 10px;
}

.navbar-default .navbar-nav li a{
	color:#032f60;
	text-transform: uppercase;
	font-family: AvenirNextBold;
	font-size:12px;
	z-index: 10;
}

.navbar-default .navbar-nav li:hover{
	cursor: pointer;

}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav li a:hover{
	background:transparent;	
	
	color:#1e285c;
}

.nav-right{
	font-family: AvenirNextBold;
	text-align: right;
	position:relative;
	margin-top:-47px;
	margin-right:20px;
}

.nav-right div{
	display: inline-block;

}

.nav-right .input-group{
	border :1px solid #eee;
	margin-top:8px;
	margin-right:20px;
	position: absolute;
	right:60px;
}

.nav-right .input-group input{
	height:30px;
	width:150px;
	background: transparent;
	border : none;
	text-align: right;
	font-family: AvenirNextRegular;
	font-size: 12px;
	letter-spacing: 1px;
	border-radius: 0;
}

.nav-right .input-group span{
	height:30px;
	padding-top:4px;
	width:30px;
	color:#888;
	background: transparent;
	border : none;
}

.language{
	margin-top:13px;
}

.language a{
	color:#8790a5;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
}

.language a.active, .language a:hover{
	color:#1e285c;
	cursor:pointer;
}


/*DirectNav*/

	.direct-nav{
		background:#1e285c;
	}
	
	.direct-nav ul{
		text-align: center;
		margin-bottom: 0;
	}

	.direct-nav ul li{
		display: inline-block;
		margin:12px 10px;
	}

	.direct-nav ul li a{
		color:#8790a5;
		text-transform: uppercase;
		font-size: 13px;
		font-family: AvenirNextBold;
	}

	.direct-nav ul li.active a, .direct-nav ul li:hover a, .direct-nav ul li a:focus{
		text-decoration: none;
		cursor: pointer;
		color:#fff;
	}



footer{
	
	padding:15px 50px;
	color:#949494;
	font-family: AvenirNextRegular;
}

footer p{
	float:left;
	margin-bottom:0;
}

footer ul{
	float:right;
}

footer ul li{
	margin-left: 20px;
	
	display: inline-block;
}

footer ul li:hover{
	cursor:pointer;
	color:#777;
}

.mobile-only{
	display: none!important;
}

.tablet-only{
	display: none!important;
}





@media (max-width: 1200px) {

	.tablet-only{
		display: block!important;
	}

  /*Change Bootstrap Breakpoint*/
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
 /* End of bootstrap breakpoint*/



  .nav-right{
  	margin-top:0;
  }

  .navbar-brand{
  	position: absolute;
  	margin-left: calc(50% - 115px);
  }

  .navbar-default{
  	padding-left:15px;
  
  }


  /*Navigation*/
  .navbar-toggle{
  	z-index: 10;
  	border:none;
  	border-radius: 0;
  }

  .navbar-toggle:hover{
  	background: transparent!important;
  }

  .navbar-default .navbar-toggle .icon-bar{
  	background:#032f60;
  	width:27px;
  	height:3px;
  }

  .navbar-collapse{
  	position: absolute;
  	top:0;
  	left:0;
  	z-index:11;
  	width:270px;

  	background: #032f60 ;
  }

  .navbar-collapse li a{
  	letter-spacing: 1.2px;
  	padding-top:20px;
  	padding-left:0px;
  	padding-bottom: 2px;
  	color:#fff!important;
  	border-bottom: 2px dashed #000;
  	font-size:14px!important;
  }

  .navbar-nav{
  	padding-bottom:30px;
  }

  .navbar-collapse.collapse{
  	overflow-y:inherit;
  }

  .close-nav{
		padding:7px 10px 10px 10px;
		top:0;
		background:#032f60;
		position: absolute;
		z-index:11;
		left:270px;
		color:#fff;
		font-size:30px;
	}

}

@media (max-width: 1000px) {
	.navbar-brand{
	  	position: absolute;
	  	right:300px;  
  	}

  	footer p, footer ul{
  		float:none;
  		text-align: center;
  		padding-left:0;
  	}
  	footer ul li{
  		margin:0 10px;
  	}
}

@media (max-width: 767px) {
	
	.desktop-only{
		display: none!important;
	}

	.mobile-only{
		display: block!important;
	}

	.navbar-nav{
		padding-left:15px;
		padding-right: 15px;
	}

	.nav .input-group{
		position: static;
	}

	.nav .input-group input{
		border-radius: 0;
		background: #fff;
		
	}

	.nav .input-group span{
		background: #fff;
		border-radius: 0;
	}

	.navbar-nav .dropdown li a{
		color:#aaa !important;
		font-family: AvenirNextRegular;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>.active>a{
		background: #032f60;
		color:#fff!important;
		font-family: AvenirNextBold;

	}

	footer{
		padding:15px;
	}

	footer ul{
		display: block;
	}
}