.nav-right .input-group {
	right:210px;
}

.nav-right .share{
	position: absolute;
	right:70px;
	margin-top:10px;
}

.nav-right .share a{
	font-family: AvenirNextRegular;
	color:#8790a5;
	margin-right: 5px;
	font-size:12px;
}

.nav-right .share ul li{
	display: inline-block;
	color:#043061;
	width:30px;
	text-align: center;
	padding:5px 0;
	border:1px solid  #8790a5;
}

.nav-right .share ul li:hover{
	color:#fff;
	background:#043061;
	cursor:pointer;
}

.no-pad{
	padding:0;
}

.no-mar{
	margin:0;
}


.header{
	background: url('../images/ourbusiness-header.jpg');
	background-size: cover;
}

.header{
	text-align: center;
}

.page-link{
	text-align: left;
	margin-top:25px;
	
}

.page-link a{
	font-family: AvenirNext;
	color:#707c96;
	text-decoration: none;
}

.page-link a.active{
	color:#032f60;
}

.header .jumbotron{
	margin-top:80px;
	background:transparent;
	font-family: AvenirNext;
	letter-spacing: 3px;
	font-size: 28px;
	color:#032f60;
	text-transform: uppercase;
	padding-bottom:0px;
}

.header  p {
	text-align: center;
	font-size: 16px;
	font-family: AvenirNext;
	color:#032f60;
	letter-spacing: 1.3px;
	max-width: 800px;
	margin:0 auto;
	margin-bottom:150px;
}


.box-link{
	background-size:cover!important;
	width:100%;

}

.layer:hover{
	background-color: rgba(250, 250, 250, 0.60);
}

.layer:hover .layer-box, .layer:hover .btn-box.transparent, .layer:hover h4{
	border-color: #032f60;
	color:#032f60;
	 transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all s;
    cursor: pointer;
}

.layer {
    background-color: rgba(3, 44, 90, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer-box{
	width: 80%;
	height:80%;
	margin:10%;
	border:2px solid #fff;
	padding:15px;
	position: relative;
}

.layer-box h4{
	color:#fff;
	font-size:16px;
	text-align: center;
	text-transform: uppercase;
	font-family: AvenirNext;
	letter-spacing: 1.5px;
	margin-top: calc( 50% - 8px);
}

.layer-box .row{
	width: calc(100% - 30px);
	position: absolute;
	bottom:10px;
}

.layer-box .btn-box{
	width: calc(100% - 10px);
	margin: 5px;
}


.btn-box{
	font-family: AvenirNext;
	text-transform: uppercase;
	color:#fff;
	background:#032f60;
	box-shadow: none;
	border:1px #032f60 solid;
	padding:10px 15px;
	letter-spacing: 1.2px;
}

.btn-box.transparent{
	background: transparent;
	
	color : #032f60;
}

.box-link .btn-box.transparent{
	color:#fff;
	border-color: #fff;
}


.subpage h3{
	margin:40px 0;
	font-family: AvenirNextBold;
	text-transform: uppercase;
	font-size: 20px;
}

.subpage p{
	font-family: AvenirNextRegular;
	font-size:15px;
}

.subpage  .btn-holder{
	margin:20px 0 40px 0;
}

.subpage .btn-box{
	margin:0 10px;
}

footer{
	margin-top:30px;
}


@media (max-width: 1300px) {

	.tablet-only{
		display: block!important;
	}

  /*Change Bootstrap Breakpoint*/
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
 /* End of bootstrap breakpoint*/



  .nav-right{
  	margin-top:0;
  }

  .navbar-brand{
  	position: absolute;
  	right:450px;
  }

  .navbar-default{
  	padding-left:15px;
  
  }


  /*Navigation*/
  .navbar-toggle{
  	z-index: 10;
  	border:none;
  	border-radius: 0;
  }

  .navbar-toggle:hover{
  	background: transparent!important;
  }

  .navbar-default .navbar-toggle .icon-bar{
  	background:#032f60;
  	width:27px;
  	height:3px;
  }

  .navbar-collapse{
  	position: absolute;
  	top:0;
  	left:0;
  	z-index:11;
  	width:270px;

  	background: #032f60 ;
  }

  .navbar-collapse li a{
  	letter-spacing: 1.2px;
  	padding-top:20px;
  	padding-left:0px;
  	padding-bottom: 2px;
  	color:#fff!important;
  	border-bottom: 2px dashed #000;
  	font-size:14px!important;
  }

  .navbar-nav{
  	padding-bottom:30px;
  }

  .navbar-collapse.collapse{
  	overflow-y:inherit;
  }

  .close-nav{
		padding:7px 10px 10px 10px;
		top:0;
		background:#032f60;
		position: absolute;
		z-index:11;
		left:270px;
		color:#fff;
		font-size:30px;
	}

}


@media (max-width: 1200px) {
	.layer-box h4{
		margin-top:20%;
	}

}


@media (max-width: 1000px) {
	.layer-box h4{
		margin-top:10%;
	}

	.layer-box .row{
		position: absolute;

	}
}


@media (max-width: 767px) {
	.layer-box h4{
		margin-top:30%;
	}

	.subpage .btn-box{
		width:100%;
		margin:10px 0;
	}
}